{{ with .Site.GetPage "/section/about.md" }}

<section id="about" class="home-section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-heading">
          <h2>{{ .Title }}</h2>
          <div class="heading-line"></div>
          <p>{{ .Params.SubTitle }}</p>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp">
      <div class="col-md-6 about-img">
        <img src="{{ .Params.Img }}" alt="">
      </div>

      <div class="col-md-6 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}