<h1 class="mt-5 text-center" id="title"><span class="border-bottom-red">{{ .title }}</span></h1>

<div class="row d-flex align-items-center">
  <div class="col-2 offset-lg-1 text-center align-items-center">
    <div class="{{ .key1 }} h2">入力</div>
  </div>
  <div class="col-lg-2 col-3">
    <hr class="line-connect">
  </div>
  <div class="col-2 text-center align-items-center">
    <div class="{{ .key2 }} h2" id="pager_verification">確認</div>
  </div>
  <div class="col-lg-2 col-3">
    <hr class="line-connect">
  </div>
  <div class="col-2 text-center align-items-center">
    <div class="{{ .key3 }} h2">完了</div>
  </div>
</div>