<h1 class="mt-5 text-center" id="title"><span class="border-bottom-red">{{ .title }}</span></h1>

<div class="row d-flex align-items-center">
  <div class="col-2 offset-lg-1 text-center align-items-center">
    <div class="{{ .key1 }} rounded-circle"><h2 class="circle-content">入力</h2></div>
  </div>
  <div class="col-lg-2 col-3">
    <hr class="line-connect">
  </div>
  <div class="col-2 text-center align-items-center">
    <div class="{{ .key2 }} rounded-circle" id="pager_verification"><h2 class="circle-content">確認</h2></div>
  </div>
  <div class="col-lg-2 col-3">
    <hr class="line-connect">
  </div>
  <div class="col-2 text-center align-items-center">
    <div class="{{ .key3 }} rounded-circle"><h2 class="circle-content">完了</h2></div>
  </div>
</div>