<h1 class="mt-5 text-center"><span class="border-bottom-red" id="title">{{ .title }}</span></h1>

<div class="row d-flex align-items-center">
  <div class="col-2 p-lg-3 p-0 offset-1 text-center align-items-center">
    <div class="{{ .key1 }} rounded-circle"><div class="circle-content">入力</div></div>
  </div>
  <div class="col-2">
    <hr class="line-connect">
  </div>
  <div class="col-2 p-lg-3 p-0 text-center align-items-center">
    <div class="{{ .key2 }} rounded-circle" id="pager_verification"><div class="circle-content">確認</div></div>
  </div>
  <div class="col-2">
    <hr class="line-connect">
  </div>
  <div class="col-2 p-lg-3 p-0 text-center align-items-center">
    <div class="{{ .key3 }} rounded-circle"><div class="circle-content">完了</div></div>
  </div>
</div>