<link rel="stylesheet" href="{{ .Site.BaseURL }}css/footer/style.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

<footer>
  <div class="footer_container">
    <!-- <div class="row justify-content-center"> -->
      <!-- <div class="col-12 col-sm-4"> -->
        <div class="menu_left">
          <div class="menu_title">
            <ul>
              <li><a href="../section/team.html">TEAM</a></li>
              <li><a href="../section/about.html">ABOUT</a></li>
              <li><a href="../section/access.html">ACCESS</a></li>
              <li><a href="../section/infomation.html">INFOMATION</a></li>
              <li><a href="../section/entry.html">ENTRY</a></li>
            </ul>
          </div>
          <div class="menu_overview">
            <ul>
              <li><a href="../section/team.html">事業部長メッセージ＆社員インタビュー</a></li>
              <li><a href="../section/about.html">仕事内容　イベント　研修</a></li>
              <li><a href="../section/access.html">企業情報</a></li>
              <li><a href="../section/infomation.html">募集要項</a></li>
              <li><a href="../section/entry.html">エントリーフォーム</a></li>
            </ul>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="col-12 col-sm-2"> -->
        <div class="menu_right">
          <ul>
            <li><a href="https://www.mistnet.co.jp/PrivacyPolicy.html">個人情報保護方針 <i class="fas fa-external-link-alt"></i></a></li>
            <li><a href="https://www.mistnet.co.jp/PersonalInformationHandling.html">個人情報の取り扱いについて <i class="fas fa-external-link-alt"></i></a></li>
            <li><a href="https://www.mistnet.co.jp/">コーポレートサイト <i class="fas fa-external-link-alt"></i></a></li>
          </ul>
        </div>
      <!-- </div>
    </div> -->
  </div>
  <p class="my-5 text-muted text-center">&copy; MIST solution 高松支店</p>
</footer>