<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <a class="navbar-brand p-0 ml-3" href="/"><img src="/img/header/hp_logo4.png" height="50rem" class="d-inline-block align-top" alt="mdb logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div class="nav-item text-center d-none d-lg-block">
        {{ if eq .Section "team" }}
        <div class="nav-link text-danger border-danger" style="border-bottom: solid 0.2rem;">メッセージ</div>
        {{ else }}
        <a class="nav-link text-dark" href="/team">TEAM</a>
        {{ end }}
      </div>
      <div class="nav-item d-lg-none pl-1 pl-sm-4 border-bottom mt-2">
        <a class="nav-link" href="/team">
          <div class="row">
            <div class="col-4 col-sm-3 text-danger">TEAM</div>
            <div class="col-8 col-sm-9">事業部長メッセージ＆社員インタビュー</div>
          </div>
        </a>
      </div>
      <div class="nav-item text-center d-none d-lg-block">
        {{ if eq .Section "about" }}
        <div class="nav-link text-danger border-danger" style="border-bottom: solid 0.2rem;">活動紹介</div>
        {{ else }}
        <a class="nav-link text-dark" href="/about">ABOUT</a>
        {{ end }}
      </div>
      <div class="nav-item d-lg-none pl-1 pl-sm-4 border-bottom">
        <a class="nav-link" href="/about">
          <div class="row">
            <div class="col-4 col-sm-3 text-danger">ABOUT</div>
            <div class="col-8 col-sm-9">仕事内容&nbsp;イベント&nbsp;研修</div>
          </div>
        </a>
      </div>
      <div class="nav-item text-center d-none d-lg-block">
        {{ if eq .Section "access" }}
        <div class="nav-link text-danger border-danger" style="border-bottom: solid 0.2rem;">企業情報</div>
        {{ else }}
        <a class="nav-link text-dark" href="/access">ACCESS</a>
        {{ end }}
      </div>
      <div class="nav-item d-lg-none pl-1 pl-sm-4 border-bottom">
        <a class="nav-link" href="/access">
          <div class="row">
            <div class="col-4 col-sm-3 text-danger">ACCESS</div>
            <div class="col-8 col-sm-9">企業情報</div>
          </div>
        </a>
      </div>
      <div class="nav-item text-center d-none d-lg-block">
        {{ if eq .Section "infomation" }}
        <div class="nav-link text-danger border-danger" style="border-bottom: solid 0.2rem;">募集要項</div>
        {{ else }}
        <a class="nav-link text-dark" href="/infomation">INFOMATION</a>
        {{ end }}
      </div>
      <div class="nav-item d-lg-none pl-1 pl-sm-4 border-bottom">
        <a class="nav-link" href="/infomation">
          <div class="row">
            <div class="col-4 col-sm-3 text-danger">INFOMATION</div>
            <div class="col-8 col-sm-9">募集要項</div>
          </div>
        </a>
      </div>
      <div class="nav-item text-center ml-5 d-none d-lg-block">
        <a class="nav-link text-white btn btn-danger rounded-pill font-weight-bold" href="/entry">ENTRY</a>
      </div>
      <div class="nav-item d-lg-none pl-1 pl-sm-4 border-bottom">
        <a class="nav-link" href="/entry">
          <div class="row">
            <div class="col-4 col-sm-3 text-danger">ENTRY</div>
            <div class="col-8 col-sm-9">エントリーフォーム</div>
          </div>
        </a>
      </div>
      <div class="nav-item d-lg-none pl-1 pl-sm-4 mt-2">
        <a class="nav-link text-dark" style="font-size: 0.9rem" href="https://www.mistnet.co.jp/PrivacyPolicy.html">個人情報保護方針<img src="/img/header/outer_link.svg"></a>
      </div>
      <div class="nav-item d-lg-none pl-1 pl-sm-4">
        <a class="nav-link text-dark" style="font-size: 0.9rem" href="https://www.mistnet.co.jp/PersonalInformationHandling.html">個人情報の取り扱いについて<img src="/img/header/outer_link.svg"></a>
      </div>
      <div class="nav-item d-lg-none pl-1 pl-sm-4">
        <a class="nav-link text-dark" style="font-size: 0.9rem" href="https://www.mistnet.co.jp/">コーポレートサイト<img src="/img/header/outer_link.svg"></a>
      </div>
    </div>
  </div>
</nav>