<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <a class="navbar-brand p-0 ml-3" href="/"><img src="/img/header/hp_logo4.png" height="50rem" class="d-inline-block align-top" alt="mdb logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div class="nav-item text-lg-center">
        <a class="nav-link text-dark" href="/team">TEAM</a>
      </div>
      <div class="nav-item text-lg-center">
        <a class="nav-link text-dark" href="/about">ABOUT</a>
      </div>
      <div class="nav-item text-lg-center">
        <a class="nav-link text-dark" href="/access">ACCESS</a>
      </div>
      <div class="nav-item text-lg-center">
        <a class="nav-link text-dark" href="/infomation">INFOMATION</a>
      </div>
      <div class="nav-item text-center ml-5">
        <a class="nav-link text-white btn btn-danger rounded-pill font-weight-bold" href="/entry">ENTRY</a>
      </div>
    </div>
  </div>
</nav>