{{ with .Site.GetPage "/section/services.md" }}

<section id="services" class="home-section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-heading">
          <h2>{{ .Params.Title }}</h2>
          <div class="heading-line"></div>
          <p>{{ .Params.SubTitle }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="carousel-service" class="service carousel slide">

          <!-- slides -->
          <div class="carousel-inner">

            {{ range .Params.Service }}

            <div class="item {{ if .active }}active{{ end }}">
              <div class="row">
                <div class="col-sm-12 col-md-offset-1 col-md-6">
                  <div class="wow bounceInLeft">
                    <h4>{{ .serviceTitle }}</h4>
                    <p>{{ .serviceBody }}</p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-5">
                  <div class="screenshot wow bounceInRight">
                    <img src="{{ .serviceImg }}" class="img-responsive" alt="" />
                  </div>
                </div>
              </div>
            </div>

            {{ end }}

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-service" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-service" data-slide-to="1"></li>
            <li data-target="#carousel-service" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}