{{ with .Site.GetPage "/section/team.md"}}

<section id="team" class="home-section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-heading">
          <h2>{{ .Params.Title }}</h2>
          <div class="heading-line"></div>
          <p>{{ .Params.SubTitle }}</p>
        </div>
      </div>
    </div>
    <div class="row">

      {{ range .Params.Member }}

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="box-team wow bounceInUp" data-wow-delay="0.1s">
          <img src="{{ .photo }}" alt="" class="img-circle img-responsive" />
          <h4>{{ .name }}</h4>
          <p>{{ .role }}</p>
        </div>
      </div>

      {{ end }}

    </div>
  </div>
</section>

{{ end }}