{{ with .Site.GetPage "/section/works.md" }}

<section id="portfolio" class="home-section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-heading">
          <h2>{{ .Params.Title }}</h2>
          <div class="heading-line"></div>
          <p>{{ .Params.SubTitle }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <ul id="og-grid" class="og-grid">

          {{ range .Params.Work }}

          <li>
            <a href="{{ .workLink }}" data-largesrc="{{ .workImg }}" data-title="{{ .workTitle }}" data-description="{{ .workBody }}">
              <img src="{{ .thumbnail }}" alt="" />
            </a>
          </li>
            
          {{ end }}

        </ul>

      </div>
    </div>
  </div>
</section>

{{ end  }}