.circle{
  background: #ff5050;
  color: #ffffff;
}
.circle:before{
  content:"";
  display: block;
  padding-top: 100%;
}
.line-circle{
  border: solid 0.2rem #ff5050;
  color: #ff5050;
}
.line-circle:before{
  content:"";
  display: block;
  padding-top: 100%;
}
.circle-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line-connect{
  border: solid 0.1rem #ff5050;
}

.border-bottom-red{
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

/*以下で線を表示*/
.border-bottom-red:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;/*線の上下位置*/
  display: inline-block;
  width: 70%;/*線の長さ*/
  height: 0.1rem;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: #d91c3c;/*線の色*/
}