.circle{
  background: #ff5050;
  color: #ffffff;
}
.circle:before{
  content:"";
  display: block;
  padding-top: 100%;
}
.line-circle{
  border: solid 0.2rem #ff5050;
  color: #ff5050;
}
.line-circle:before{
  content:"";
  display: block;
  padding-top: 100%;
}
.circle-content{
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 992px) {
  .circle-content {
    font-size: 2rem
  }
}
@media screen and (max-width: 991px) {
  .circle-content {
    font-size: 1.2rem
  }
}

.line-connect{
  border: solid 0.1rem #ff5050;
}

.border-bottom-red{
  position: relative;
  display: inline-block;
  margin-bottom: 4rem;
}

.border-bottom-red:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1rem;
  display: inline-block;
  width: 70%;
  height: 1px;
  transform: translateX(-50%);
  background-color: #d91c3c;
}