.footer_container {
    width: 100%;
    background: #353535;
}
.footer_container::after {
    content: "";
    display: block;
    clear: both;
}
footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
footer .menu_left {
    width: 65%;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizig: border-box;
    box-sizing: border-box;
}
footer .menu_title a {
    color: #D91C3C;
    text-decoration: none;
}
footer .menu_title li:hover,
footer .menu_overview li:hover,
footer .menu_right li:hover{
    opacity: 0.5;
}
footer .menu_title {
    width: 50%;
    height: auto;
    padding-left: 30%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizig: border-box;
    box-sizing: border-box;
}
footer .menu_overview a {
    color: #FFFFFF;
    text-decoration: none;
}
footer .menu_overview {
    width: 50%;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    float: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizig: border-box;
    box-sizing: border-box;
}
footer .menu_right {
    width: 35%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
}
footer .menu_right ul {
    line-height: 2.5;
    padding-left: 10%;
    border-left: 1px solid #FFFFFF;
}
footer .menu_right a {
    color: #FFFFFF;
    text-decoration: none;
}
@media(max-width:576px) {
    footer a {
        font-size: 10px;
    }
    footer .menu_left {
        width: 100%;
        margin-bottom: 10px;
    }
    footer .menu_left::after {
        content: "";
        display: block;
        clear: both;
    }
    footer .menu_title {
        width: 30%;
        padding-left: 10%;
    }
    footer .menu_overview{
        width: 70%;
    }
    footer .menu_right {
        width: 80%;
        margin-right: 12%;
        border-top: 1px solid #FFFFFF;
    }
    footer .menu_right ul {
        padding-left: 2%;
        line-height: 1.7;
        border-left: none;
    }
}

@media(max-width:768px) and (min-width: 577px){
    footer a {
        font-size: 12px;
    }

    footer .menu_left {
        padding-bottom: 10px;
    }
    footer .menu_right {
        padding-top: 20px;
        float: left;
    }
    footer .menu_title {
        width: 20%;
        padding-left: 10%;
    }
    footer .menu_overview {
        width: 70%;
    }
}
@media(max-width: 992px) and (min-width:769px){
    footer a {
        font-size: 12px;
    }
    footer .menu_title {
        padding-left: 25%;
    }
    footer .menu_overview {
        padding-left: 1%;
    }
}
@media(max-width: 1200px) and (min-width:993px) {
    footer a {
        font-size: 12px;
    }
}