.about {
    padding: 0 30px;
}

h1 {
    /* 24px～36px */
    font-size: calc(1.5rem + ((1vw - 4.8px) * 0.8333));
}

.title-line {
    width: 25vw;
}

/* ICTサービス事業 */
#business {
    margin: 0 auto;
    border-bottom: solid 0.1px #cccccc;
}

#business .title-info p{
    /* 10px～24px */
    font-size: calc(0.625rem + ((1vw - 4.8px) * 0.9722));
}

#business .sub-title p {
    /* 10px～24px */
    font-size: calc(0.625rem + ((1vw - 4.8px) * 0.9722));
    color: #d91c3c;
}
#business .sub-info p {
    /* 8px～20px */
    font-size: calc(0.5rem + ((1vw - 4.8px) * 0.8333));
    text-decoration: underline;
}


/* イベント */
#event {
    margin: 0 auto;
    border-bottom: solid 0.1px #cccccc;
}
#event .photo img{
    
}
#event .e-txt h5 {
    /* 16px～30px */
    font-size: calc(1rem + ((1vw - 7.68px) * 1.2153));
    font-weight: bole;
}
#event .e-txt p{
    /* 10px～24px */
    font-size: calc(0.625rem + ((1vw - 4.8px) * 0.9722));
}

/* 研修 */
#training h5 {
    /* 16px～30px */
    font-size: calc(1rem + ((1vw - 7.68px) * 1.2153));
    font-weight: bole;
}
#training .training-Group p {
    /* 10px～24px */
    font-size: calc(0.625rem + ((1vw - 4.8px) * 0.9722));
    text-align: left;
}
