{{ define "head" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/entry/style.css">
{{ end }}

{{ define "main" }}

<div class="container">

  {{ partial "entry_header_map" (dict "title" "完了" "key1" "circle" "key2" "circle" "key3" "circle") }}

  <div class="row my-5">
    <div class="col-lg-10 offset-lg-1">
      <h4 class="font-weight-bold my-4">お問い合わせありがとうございました。</h4>
      {{/*  ※自動返信機能が未実装のため削除
      <p>ご入力いただきましたメールアドレス宛に控えメールを自動返信いたしました。 </p>
      <p>この控えメールが届かない場合は、ご入力いただいたメールアドレスに誤りがあるか、インターネット上のなんらかのトラブルの可能性もあります。</p>
      <p>お手数ですが弊社までお電話いただくか、もしくは再度お問い合わせいただくようお願い申し上げます。</p>  */}}
      <p class="my-5">お問い合わせへの回答に関しまして、近日中にお電話もしくはメールにてご回答いたします。</p>
    </div>
  </div>

</div>

{{ end }}