{{ define "main" }}

<div class="container">

  <h1 class="my-5 text-center">完了</h1>

  <div class="row my-5">
    <div class="col-lg-2 col-3 offset-lg-2 text-center align-items-center text-muted">
      入力
    </div>
    <div class="col-1 text-center align-items-center text-muted">
      <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="col-lg-2 col-4 text-center align-items-center text-muted">
      確認
    </div>
    <div class="col-1 text-center align-items-center text-muted">
      <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="col-lg-2 col-3 text-center align-items-center font-weight-bold">
      完了
    </div>
  </div>

  <div class="row my-5">
    <div class="col-lg-10 offset-lg-1">
      <h4 class="font-weight-bold my-4">お問い合わせありがとうございました。</h4>
      <p>ご入力いただきましたメールアドレス宛に控えメールを自動返信いたしました。 </p>
      <p>この控えメールが届かない場合は、ご入力いただいたメールアドレスに誤りがあるか、インターネット上のなんらかのトラブルの可能性もあります。</p>
      <p>お手数ですが弊社までお電話いただくか、もしくは再度お問い合わせいただくようお願い申し上げます。</p>
      <p class="my-5">お問い合わせへの回答に関しまして、近日中にお電話もしくはメールにてご回答いたします。</p>
    </div>
  </div>

</div>

{{ end }}