{{ define "head" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/entry.css">
  <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
{{ end }}

{{ define "main" }}

<div class="container">

  <h1 class="my-5 text-center">エントリーホーム</h1>

  <div class="row my-5">
    <div class="col-lg-2 col-3 offset-lg-2 text-center align-items-center font-weight-bold" id="pager_input">
      入力
    </div>
    <div class="col-1 text-center align-items-center text-muted">
      <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="col-lg-2 col-4 text-center align-items-center text-muted" id="pager_verification">
      確認
    </div>
    <div class="col-1 text-center align-items-center text-muted">
      <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="col-lg-2 col-3 text-center align-items-center text-muted" id="pager_done">
      完了
    </div>
  </div>

  <form name="entry">

    <!-- 入力画面 -->
    <div id="form_input">

      <div class="row d-none" id="feedback_message">
        <div class="col-lg-8 offset-lg-2 text-center font-weight-bold text-danger bg-light py-4">
          <h4>入力に誤りがあるか、未入力になっています。 </h4>
          <h4>下記について再度ご確認のうえ、修正してください。</h4>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-lg-10 offset-lg-1">
          <p>エントリーは下記のフォームよりお願い致します。 必要事項をご記入の上、「入力内容の確認画面へ」を押してください。 </p>
          <p>後日、担当者より選考方法等をメールでご連絡致しますので、こちらからのメールが届かない場合には、お問い合わせ下さい。</p>
          <p>※印の項目は必須項目となります</p>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-10 offset-lg-1">

          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label order-sm-2">お名前※</label>
            <div class="col-sm-9 order-sm-3">
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="col-sm-9 offset-sm-3 order-sm-1 d-none" id="feedback_name">
              <span class="ml-4 small text-danger">お名前は必須です</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="name_kn" class="col-sm-3 col-form-label order-sm-2">フリガナ※</label>
            <div class="col-sm-9 order-sm-3">
              <input type="text" class="form-control" id="name_kn" name="name_kn">
            </div>
            <div class="col-sm-9 offset-sm-3 order-sm-1 d-none" id="feedback_name_kn">
              <span class="ml-4 small text-danger">フリガナは必須です</span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label order-sm-2">生年月日※</label>
            <div class="col-sm-3 order-sm-3">
              <input type=date class="form-control" id="birth_date" name="birth_date">
            </div>
            <div class="col-sm-9 offset-sm-3 order-sm-1 d-none" id="feedback_birth_date">
              <span class="ml-4 small text-danger">生年月日は必須です</span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label order-sm-2">性別※</label>
            <div class="col-sm-9 order-sm-3">
              <div class="row">
                <div class="col-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="gender_man" name="gender" value="男性">
                    <label class="form-check-label" for="gender_man">
                      男性
                    </label>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="gender_woman" name="gender" value="女性">
                    <label class="form-check-label" for="gender_woman">
                      女性
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-9 offset-sm-3 order-sm-1 d-none" id="feedback_gender">
              <span class="ml-4 small text-danger">性別は必須です</span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label order-sm-2">ご住所※</label>
            <div class="col-sm-9 order-sm-3">
              <div class="row mb-3">
                <div class="col-1 d-flex align-items-center">
                  <label for="zip01"><strong class="h4">&#12306;</strong></label>
                </div>
                <div class="col-md-4 col-11">
                  <input type="text" class="form-control" id="zip01" name="zip01" maxlength="7" onKeyUp="AjaxZip3.zip2addr(this,'','pref01','addr01');">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-4">
                  <label for="pref01">都道府県</label>
                  <select class="form-control" id="pref01" name="pref01">
                    <option></option>
                    <option>北海道</option>
                    <option>青森県</option>
                    <option>岩手県</option>
                    <option>宮城県</option>
                    <option>秋田県</option>
                    <option>山形県</option>
                    <option>福島県</option>
                    <option>茨城県</option>
                    <option>栃木県</option>
                    <option>群馬県</option>
                    <option>埼玉県</option>
                    <option>千葉県</option>
                    <option>東京都</option>
                    <option>神奈川県</option>
                    <option>新潟県</option>
                    <option>富山県</option>
                    <option>石川県</option>
                    <option>福井県</option>
                    <option>山梨県</option>
                    <option>長野県</option>
                    <option>岐阜県</option>
                    <option>静岡県</option>
                    <option>愛知県</option>
                    <option>三重県</option>
                    <option>滋賀県</option>
                    <option>京都府</option>
                    <option>大阪府</option>
                    <option>兵庫県</option>
                    <option>奈良県</option>
                    <option>和歌山県</option>
                    <option>鳥取県</option>
                    <option>島根県</option>
                    <option>岡山県</option>
                    <option>広島県</option>
                    <option>山口県</option>
                    <option>徳島県</option>
                    <option>香川県</option>
                    <option>愛媛県</option>
                    <option>高知県</option>
                    <option>福岡県</option>
                    <option>佐賀県</option>
                    <option>長崎県</option>
                    <option>熊本県</option>
                    <option>大分県</option>
                    <option>宮崎県</option>
                    <option>鹿児島県</option>
                    <option>沖縄県</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="addr01">市区町村番地</label>
                  <input type="text" class="form-control" id="addr01" name="addr01">
                </div>
              </div>
              <div>
                <div class="row mb-3">
                  <div class="col">
                    <label for="address_building">マンション・ビル名</label>
                    <input type="text" class="form-control" id="address_building" name="address_building">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-9 offset-sm-3 order-sm-1 d-none" id="feedback_address">
              <span class="ml-4 small text-danger">ご住所は必須です</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="tel" class="col-sm-3 col-form-label order-sm-2">電話番号※</label>
            <div class="col-sm-9 order-sm-3">
              <input type="tel" class="form-control" id="tel" maxlength="11" name="tel">
            </div>
            <div class="col-sm-9 offset-sm-3 order-sm-1 d-none" id="feedback_tel">
              <span class="ml-4 small text-danger">電話番号は必須です</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label order-sm-2">メールアドレス※</label>
            <div class="col-sm-9 order-sm-3">
              <input type="text" class="form-control" id="email" name="email">
              <span class="ml-4 small">▼確認のため再度メールアドレスの入力をお願いします。</span>
              <input type="text" class="form-control" id="email_confirem" name="email_confirem">
            </div>
            <div class="col-sm-9 offset-sm-3 order-sm-1 d-none" id="feedback_email">
              <span class="ml-4 small text-danger" id="feedback_email_message">メールアドレスは必須です</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="school_name" class="col-sm-3 col-form-label order-sm-2">卒業学校名※</label>
            <div class="col-sm-9 order-sm-3">
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control" id="school_name" name="school_name">
                </div>
              </div>
            </div>
            <div class="col-sm-9 offset-sm-3 order-sm-1 d-none" id="feedback_school_name">
              <span class="ml-4 small text-danger">卒業学校名は必須です</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="shcool_faculty" class="col-sm-3 col-form-label order-sm-2">学部・学科※</label>
            <div class="col-sm-9 order-sm-3">
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control" id="shcool_faculty" name="shcool_faculty">
                </div>
              </div>
            </div>
            <div class="col-sm-9 offset-sm-3 order-sm-1 d-none" id="feedback_shcool_faculty">
              <span class="ml-4 small text-danger">学部・学科は必須です</span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label order-sm-2">卒業年月※</label>
            <div class="col-sm-3 order-sm-3">
              <input type="month" class="form-control" id="school_graduate_month" name="school_graduate_month">
            </div>
            <div class="col-sm-9 offset-sm-3 order-sm-1 d-none" id="feedback_school_graduate_month">
              <span class="ml-4 small text-danger">卒業年月は必須です</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="qualification" class="col-sm-3 col-form-label">保有資格</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="qualification" name="qualification" rows="4"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="motivation" class="col-sm-3 col-form-label">応募動機</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="motivation" name="motivation" rows="4"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="question" class="col-sm-3 col-form-label">希望・質問</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="question" name="question" rows="4"></textarea>
            </div>
          </div>

          <div class="form-group row my-5">
            <div class="col-md-8 offset-md-2">
              <div class="row  mb-3">
                <div class="col">
                  <p>本お問い合わせへご記入頂いた個人情報を、株式会社MISTsolutionがイベント/社員採用審査/サービスに関するご案内を目的に利用すること、および「個人情報保護方針」に基づき利用することに同意されますか？※</p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-3 offset-1 form-check">
                  <input type="checkbox" class="form-check-input" id="privacy_consent" name="privacy_consent">
                  <label class="form-check-label" for="privacy_consent">同意する</label>
                </div>
                <div class="col-8">
                  ▼個人情報の取り扱いについて
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <p>[入力内容の確認画面へ] ボタンをクリックして入力内容のご確認をお願いします。ご入力、誠にありがとうございました。</p>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col text-center">
              <a class="btn btn-primary" id="button_go_verification" href="#" role="button">入力内容の確認画面へ</a>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- 確認画面 -->
    <div id="form_verification" class="d-none">

      <div class="row my-5">
        <div class="col-lg-10 offset-lg-1">
          <p>入力内容をご確認ください。</p>
          <p>この内容でよろしければ送信ボタンを押して下さい。</p>
        </div>
      </div>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">お名前</th>
            <td style="width:75%" id="t_name"></td>
          </tr>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">フリガナ</th>
            <td id="t_name_kn"></td>
          </tr>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">生年月日</th>
            <td id="t_birth_date"></td>
          </tr>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">性別</th>
            <td id="t_gender"></td>
          </tr>
          <tr>
            <th scope="row" rowspan="4" class="table-secondary font-weight-normal text-nowrap">ご住所</th>
            <td id="t_zip01">&nbsp;</td>
          </tr>
          <tr>
            <td id="t_pref01">&nbsp;</td>
          </tr>
          <tr>
            <td id="t_addr01">&nbsp;</td>
          </tr>
          <tr>
            <td id="t_address_building">&nbsp;</td>
          </tr>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">電話番号</th>
            <td id="t_tel"></td>
          </tr>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">メールアドレス</th>
            <td id="t_email"></td>
          </tr>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">卒業学校名</th>
            <td id="t_school_name"></td>
          </tr>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">学部・学科</th>
            <td id="t_shcool_faculty"></td>
          </tr>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">卒業年月</th>
            <td id="t_school_graduate_month"></td>
          </tr>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">保有資格</th>
            <td id="t_qualification"></td>
          </tr>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">応募動機</th>
            <td id="t_motivation"></td>
          </tr>
          <tr>
            <th scope="row" class="table-secondary font-weight-normal text-nowrap">希望・質問</th>
            <td id="t_question"></td>
          </tr>
        </tbody>
      </table>

      <div class="form-group row my-5">
        <div class="col-4 text-center">
          <a class="btn" id="button_back_input" href="#" role="button">戻る</a>
        </div>
        <div class="col-4 text-center">
          <button class="btn btn-primary" type="submit">送信</button>
        </div>
      </div>

    </div>

  </form>

</div>
{{ end }}

{{ define "script" }}
  <script src="{{ .Site.BaseURL }}/js/entry/button_go_verification.js"></script>
  <script src="{{ .Site.BaseURL }}/js/entry/button_back_input.js"></script>
{{ end }}