{{ define "head" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/entry/style.css">
{{ end }}

{{ define "main" }}

<div class="container">

  <h1 class="mt-5 text-center" id="title"><span class="border-bottom-red">完了</span></h1>
  
  <div class="row d-flex align-items-center">
    <div class="col-2 offset-lg-1 text-center align-items-center" id="pager_input">
      <div class="circle h2">入力</div>
    </div>
    <div class="col-lg-2 col-3">
      <hr class="line-connect">
    </div>
    <div class="col-2 text-center align-items-center" id="pager_verification">
      <div class="circle h2">確認</div>
    </div>
    <div class="col-lg-2 col-3">
      <hr class="line-connect">
    </div>
    <div class="col-2 text-center align-items-center" id="pager_done">
      <div class="circle h2">完了</div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-lg-10 offset-lg-1">
      <h4 class="font-weight-bold my-4">お問い合わせありがとうございました。</h4>
      <p>ご入力いただきましたメールアドレス宛に控えメールを自動返信いたしました。 </p>
      <p>この控えメールが届かない場合は、ご入力いただいたメールアドレスに誤りがあるか、インターネット上のなんらかのトラブルの可能性もあります。</p>
      <p>お手数ですが弊社までお電話いただくか、もしくは再度お問い合わせいただくようお願い申し上げます。</p>
      <p class="my-5">お問い合わせへの回答に関しまして、近日中にお電話もしくはメールにてご回答いたします。</p>
    </div>
  </div>

</div>

{{ end }}