{{ define "head" }}

<link rel="stylesheet" href="/css/infomation/style.css">

{{ end }}

{{ define "main" }}

<div class="container">

  <h1 class="mt-5 text-center"><span class="border-bottom-red" id="title">募集要項</span></h1>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row" class="table-secondary font-weight-normal text-nowrap">就業場所</th>
        <td style="width:75%">香川県内（客先常駐有り）</td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary font-weight-normal text-nowrap">転勤の可能性</th>
        <td>無</td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary font-weight-normal text-nowrap">年齢</th>
        <td>制限有り（～40歳まで）
          <br>年齢制限理由：3号のイ：長期勤務によるキャリア形成を図る観点から</td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary font-weight-normal text-nowrap">給与</th>
        <td>基本給
          <br>200,000円～400,000円</td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary font-weight-normal text-nowrap">その他手当等</th>
        <td>・昇給、賞与は会社規定による
          <br>　（年棒制のため、詳細は面談時にご説明します。）
          <br>・役職手当：50,000円～100,000円（その他手当）
          <br>・通勤手当
          <br>・資格手当
          <br>・決算賞与
          <br>・住宅手当（条件あり）</td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary font-weight-normal text-nowrap">採用人数</th>
        <td>2人</td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary font-weight-normal text-nowrap">最終学歴</th>
        <td>高校</td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary font-weight-normal text-nowrap">経験</th>
        <td>不問</td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary font-weight-normal text-nowrap">資格等</th>
        <td>不問</td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary font-weight-normal text-nowrap">その他特記事項</th>
        <td>・未経験者大歓迎
          <br>・マイカー通勤は応相談
          <br>・研修制度有り（PC操作、ICT一般知識）
          <br>・社員寮有り
          <br>・社内レクリエーション有り
          <br>・客先常駐有り
          <br>・試用期間有り（2ヶ月、月額換算基本給と通勤手当を支給）
          <br>・担当していただく客先によって休日、勤務時間の変更
          <br>　（例：8:45～17:30、9:00～18:00、シフト休等）
          <br>・担当客先によって夜勤を含む3交代制や短期出張（四国内）あり
          <br>・担当客先については本人のスキルや通勤方法、その他希望を考慮し相談の上、決定</td>
      </tr>
    </tbody>
  </table>
</div>

{{ end }}

{{ define "script" }}

<script src="{{ .Site.BaseURL }}js/infomation/main.js"></script>

{{ end }}