{{ define "head" }}

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/team/style.css">

{{ end }}

{{ define "main" }}
<section class="team">
  <article class="manager">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="manager_title">事業部長メッセージ</h1>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 manager_container">
          <img src="{{ .Site.BaseURL }}img/team/team_photo01.jpg" class="manager_photo"> 
        </div>
        <div class="col-12 col-md-6">
          <h2>「みんなの支店」づくりを目指す</h2>
          <h3>ICTサービス本部　関西・四国事業部</h3>
          <h4>KS事業部長　川崎豪信</h4>
          <p>MIST solution高松支店は
            地域のお客様に支えて頂きながら成長してきました。
            社員一人ひとりの特性や個性を伸ばし
            楽しく働き易い「みんなの支店」づくりを目指しています。</p>
        </div>
      </div>
    </article>
    <article class="interview">
      <div class="interview_header">
        <div class="container">
          <div class="row justify-content-center">
            <h1 class="interview_title">社員インタビュー</h1>
          </div>
          <p>Q：MISTsolution高松支店ってどんなとこ？</p>
        </div>
      </div>
      <div class="interview_group">
        <div class="container member">
          <div class="row">
            <div class="col-12 col-md-6 manager_container">
              <img src="{{ .Site.BaseURL }}img/team/interview_photo01.jpg" class="manager_photo"> 
            </div>
            <div class="col-12 col-md-6">
              <h2>若手が活躍できる</h2>
              <h3>〇〇年　入社</h3>
              <h4>石原　みずほ</h4>
              <p>高松支店は20代の若手が組織を作り上げています。
                社員皆が良い会社を作りたいという想いを持っており、
                社内プロジェクトなどに取り組む姿は真剣そのもの。
                組織の成長、個人の成長を感じることができる環境です。</p>
            </div>
          </div>
        </div>
        <div class="container member">
          <div class="row">
            <div class="col-12 col-md-6 manager_container">
              <img src="{{ .Site.BaseURL }}img/team/interview_photo02.jpg" class="manager_photo"> 
            </div>
            <div class="col-12 col-md-6">
              <h2>個性のある会社</h2>
              <h3>〇〇年　入社</h3>
              <h4>鎌倉　聖</h4>
              <p>
                ＜PROFILE＞</br>
                高校卒業後、地方の産業会社で電気工事士を1年勤務後、MIST solutionに入社。
                入社後は大手電力会社の実績照会システムを担当し、製造や試験の担当をしてき
                ました。</br></br>
                ＜MISTsolution高松支店ってどんなとこ？＞</br></br>
                WAHAHA本舗との繋がりがあったり、青森のサッカーチームヴァンナーレ八戸のスポンサーをしていたりと、
                ITにこだわらず多種多様な事業を積極的に活動しています。最近では、株式の過半数を取得し本社には、ラジオのスタジオがあります。
                もちろん私が今働いているのはIT系の仕事なので直接的な関わりこそありませんが、それでも抜群の行動力がある面白い会社だなと感じ
                ています。
                色々なことに挑戦する型破りな会社だからこそ、挑戦する人に寛容な社風でもあり、そこがMIST solutionの魅力のひとつです。</p>
            </div>
          </div>
        </div>
      </div>
    </article>

  </div>

</section>

<div class="container">
  <div style="height: 100vh;"></div>
</div>

{{ end }}

{{ define "script" }}

<script src="{{ .Site.BaseURL }}js/team/main.js"></script>

{{ end }}