.border-bottom-red{
  position: relative;
  display: inline-block;
  margin-bottom: 2.5rem;
}

.border-bottom-red:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1rem;
  display: inline-block;
  width: 70%;
  height: 1px;
  transform: translateX(-50%);
  background-color: #d91c3c;
}