.top2 {
	position: relative;
}

.top2-bg {
	position: absolute;
}
.top2-bg1 {
	width: calc(100% - 4.5rem);
	height: calc(100% - 3rem);
	top: 3rem;
	left: 1.5rem;
	background-color: #e6ffe9;
}
.top2-bg2 {
	width: calc(100% - 4.5rem);
	height: calc(100% - 5rem);
	top: 0;
	left: 3rem;
	background-color: #f5f5f5;
}
