.top3 {
	position: relative;
}

.top3-bg {
	position: absolute;
	width: 81vw;
	height: 54vw;
	top: 15rem;
	right: 1.5rem;
	background-color: #e6ffe9;
}

.top3-img {
	position: absolute;
	width: 81vw;
	top: 10rem;
	left: 1.5rem;
}
