{{ define "head" }}

<link rel="stylesheet" href="/css/top/style.css">
<link rel="stylesheet" href="/css/top/top1.css">
<link rel="stylesheet" href="/css/top/top2.css">
<link rel="stylesheet" href="/css/top/top3.css">
<link rel="stylesheet" href="/css/top/top4.css">

{{ end }}

{{ define "main" }}

<div class="top1">
  <img src="/img/top/robert-collins-tvc5imO5pXk-unsplash.jpg" alt="top1-img" class="top1-img">
  <div class="top1-txt top1-txt1">Break the mold</div>
  <div class="top1-txt top1-txt2">and discover the <span style="color: #fe0002;">n</span><span style="color: #fa8a0a;">e</span><span style="color: #1eafad;">w</span> me!</div>
</div>

<div class="container top2 mt-5">
  <div class="top2-bg top2-bg1"></div>
  <div class="top2-bg top2-bg2"></div>
  <div class="row">
    <h1 class="col pt-5 text-center"><span class="border-bottom-red" id="title">TEAM</span></h1>
  </div>
  <div class="row mb-5 ml-5 mr-5">
    <div class="col text-center">事業部長メッセージ<br class="d-sm-none">　＆　<br class="d-sm-none">社員インタビュー</div>
  </div>
  <div class="row ml-5 mr-5">
    <div class="col-md-3 col-6 text-center pb-4">
      <img class="rounded-circle w-100" src="/img/top/kawasaki.png" alt="kawasaki">
      <div>KAWASAKI TAKENOBU</div>
    </div>
    <div class="col-md-3 col-6 text-center pb-4">
      <img class="rounded-circle w-100" src="/img/top/ishihara.png" alt="ishihara">
      <div>ISHIHARA MIZUHO</div>
    </div>
    <div class="col-md-3 col-6 text-center pb-4">
      <img class="rounded-circle w-100" src="/img/top/kamakura.png" alt="kamakura">
      <div>KAMAKURA SYOU</div>
    </div>
    <div class="col-md-3 col-6 text-center pb-4">
      <img class="rounded-circle w-100" src="/img/top/myoga.png" alt="myoga">
      <div>MYOGA JYUNPEI</div>
    </div>
  </div>
  <div class="row">
    <div class="col pt-3 pb-3 text-center">
      <a class="btn btn-dark rounded-pill btn-lg btn-lg-block" href="/team" role="button">READ MORE</a>
    </div>
  </div>
</div>

<div class="container top3 mt-5 pb-5">
  <h1 class="col text-center"><span class="border-bottom-red" id="title">ABOUT</span></h1>
  <div class="mb-5 text-center">高松支店のご紹介</div>
  <div class="top3-bg"></div>
  <img src="/img/top/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="top3-img" class="top3-img">
  <div style="padding-top: calc(54% + 0.5rem);"></div>
  <div class="col pt-3 pb-3 text-center">
    <a class="btn btn-dark rounded-pill btn-lg btn-lg-block" href="/about" role="button">READ MORE</a>
  </div>
</div>

<div class="container top4 mt-5">
  <div class="row">
    <div class="col-lg-4 col-12 position-relative pb-5">
      <a href="/access">
        <img class="w-100" src="/img/top/annie-spratt-kZO9xqmO_TA-unsplash.jpg" alt="">
        <div class="top4-txt text-center text-white">
          <h1>ACCESS</h1>
          <h5>企業情報</h5>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-12 position-relative pb-5">
      <a href="/infomation">
        <img class="w-100" src="/img/top/luca-bravo-ujhKqutt3f0-unsplash.jpg" alt="">
        <div class="top4-txt text-center text-white">
          <h1>INFOMETION</h1>
          <h5>募集要項</h5>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-12 position-relative pb-5">
      <a href="/entry">
        <img class="w-100" src="/img/top/abbie-bernet-A_AuirVquQY-unsplash.jpg" alt="">
        <div class="top4-txt text-center text-white">
          <h1>ENTRY</h1>
          <h5>エントリーフォーム</h5>
        </div>
      </a>
    </div>
  </div>
</div>

{{ end }}