{{ define "head" }}

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/top/style.css">

{{ end }}

{{ define "main" }}

  <!-- intro area -->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="carousel-background"><img src="{{ .Site.BaseURL }}css/top/image/top.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #intro -->

  <!-- Team -->
  <section id="team" class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2><u>■ TEAM</u></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div>
            <a href="javascript:void(0)">
              <img src="{{ .Site.BaseURL }}css/top/image/image_01.png" alt="" class="img-circle img-responsive" />
              <h4>名前 名前</h4>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div>
            <a href="javascript:void(0)">
              <img src="{{ .Site.BaseURL }}css/top/image/image_02.png" alt="" class="img-circle img-responsive" />
              <h4>名前 名前</h4>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div>
            <a href="javascript:void(0)">
              <img src="{{ .Site.BaseURL }}css/top/image/image_03.png" alt="" class="img-circle img-responsive" />
              <h4>名前 名前</h4>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div>
            <a href="javascript:void(0)">
              <img src="{{ .Site.BaseURL }}css/top/image/image_04.png" alt="" class="img-circle img-responsive" />
              <h4>名前 名前</h4>
            </a>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)"><img scr="" alt=""></a>
    </div>
  </section>

  <!-- About -->
  <section id="about" class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2><u>■ ABOUT</u></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="item active">
      <div class="carousel-background"><img src="{{ .Site.BaseURL }}css/top/image/top2.png" alt=""></div>
    </div>
    <a href="javascript:void(0)"><img scr="" alt=""></a>
  </section>

    <!-- Works -->
    <section id="" class="home-section bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="og-grid">
              <li>
                <a href="javascript:void(0)">
                  <img src="img/works/thumbs/1.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <img src="img/works/thumbs/2.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <img src="img/works/thumbs/3.jpg" alt="img01" />
                </a>
              </li>
          </div>
        </div>
      </div>
    </section>
  
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Copyright &copy; Alstar. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  {{ end }}

  {{ define "script" }}
  
  <script src="{{ .Site.BaseURL }}js/top/main.js"></script>
  
  {{ end }}
