{{ define "head" }}

<link rel="stylesheet" href="/css/top/style.css">
<link rel="stylesheet" href="/css/top/top1.css">
<link rel="stylesheet" href="/css/top/top2.css">

{{ end }}

{{ define "main" }}

<div class="top1">
  <img src="/img/top/robert-collins-tvc5imO5pXk-unsplash.jpg" alt="top1-img" class="top1-img">
  <div class="top1-txt top1-txt1">Break the mold</div>
  <div class="top1-txt top1-txt2">and discover the <span style="color: #fe0002;">n</span><span style="color: #fa8a0a;">e</span><span style="color: #1eafad;">w</span> me!</div>
</div>

<div class="top2">
  <div class="top2-bg top2-bg1"></div>
  <div class="top2-bg top2-bg2"></div>
  <div class="row">
    <h1 class="col pt-5 text-center"><span class="border-bottom-red" id="title">TEAM</span></h1>
  </div>
  <div class="row">
    <div class="col mb-5 text-center">事業部長メッセージ　＆　社員インタビュー</div>
  </div>
  <div class="row ml-5 mr-5">
    <div class="col-md-3 col-6 text-center pb-4">
      <img class="rounded-circle w-100" src="/img/top/kawasaki.png" alt="kawasaki">
      <div>KAWASAKI TAKENOBU</div>
    </div>
    <div class="col-md-3 col-6 text-center pb-4">
      <img class="rounded-circle w-100" src="/img/top/ishihara.png" alt="ishihara">
      <div>ISHIHARA MIZUHO</div>
    </div>
    <div class="col-md-3 col-6 text-center pb-4">
      <img class="rounded-circle w-100" src="/img/top/kamakura.png" alt="kamakura">
      <div>KAMAKURA SYOU</div>
    </div>
    <div class="col-md-3 col-6 text-center pb-4">
      <img class="rounded-circle w-100" src="/img/top/myoga.png" alt="myoga">
      <div>MYOGA JYUNPEI</div>
    </div>
  </div>
  <div class="row">
    <div class="col pt-3 pb-3 text-center">
      <a class="btn btn-dark rounded-pill btn-lg btn-lg-block" href="/team" role="button">READ MORE</a>
    </div>
  </div>
</div>

{{ end }}