@media (max-width: 767px) {
    #access h1 {
        font-size: 26px
    }
    #access .address {
        font-size: 18px;
    }
    #access .address-info {
        font-size: 14px;
    }
    #access iframe {
        width: 90%;
        height: auto;
    }
}
@media (min-width: 768px) {
    #access h1 {
        font-size: 30px;
    }
    #access .address {
        font-size: 24px;
        font-weight: normal;
    }
    #access .address-info {
        font-size: 20px;
    }
}
.access_title {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 10px;
    border-bottom: solid 1px red;
}


